doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mi Web
        link(rel="stylesheet", href="/css/estilo.css")
    body 
        header
            div(id="logo")
                img(src='img/alberto.gif')
            div(id="titulo")
                h1 Empresa AM
                p= miValor
        block contenido

        footer
            p  &copy; 2023 Alberto Mozo 😊
                span= actualFecha
        